
  
  .login-container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 70px;
  }
  
  .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
  }
  
  .image img {
    max-width: 80%;
    height: auto;
  }
  
  #login-container {
    flex: 1;
    max-width: 500px;
    text-align: center;
    padding-left: 40px;
  }
  
  #login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    width: 100%;
    display: block;
    margin-left: 10px;
  }
  
  #login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #login-form label {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
  }
  
  #team-select {
    width: 90%;
    max-width: 270px;
    text-align: center;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  #admin-credentials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    max-width: 270px;
    margin-bottom: 15px;
  }
  
  #admin-credentials div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  #admin-credentials label {
    margin-right: 10px;
    width: auto;
    text-align: left;
  }
  
  #admin-credentials input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  

  #msal-login-button {
    max-width: 270px;
    padding: 10px;
    margin-left: 0px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
  }

  #msal-login-button:hover {
    background-color: cadetblue;
  }
  
  /* Modal Styles */
  .modal {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fff;
    color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    border-radius: 8px;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 9999;
  }
  
  .toast.success {
    background-color: #4caf50;
  }
  
  .toast.error {
    background-color: #f44336;
  }